esphome:
  name: esphome-vask
  min_version: 2024.11.0
  name_add_mac_suffix: false
  platformio_options:
    board_build.f_cpu: 160000000L #increase clock speed

esp8266:
  board: d1_mini  # Adjust to your specific ESP8266 board

api:
  encryption:
    key: !secret api_encryption_key

ota:
  - platform: esphome
    password: !secret ota_pass

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  
  ap:
    ssid: "Ventaxia Fallback"
    password: !secret fallback_password

captive_portal:

logger:
  level: DEBUG
  baud_rate: 0






web_server:
  version: 3
  sorting_groups:
    - id: sorting_group_control
      name: "Control Panel"
      sorting_weight: 10
    # - id: sorting_group_number_settings
    #   name: "Number settings"
    #   sorting_weight: 20

uart:
  tx_pin: GPIO1
  rx_pin: GPIO3
  baud_rate: 9600
  id: vask_uart

external_components:
  - source: ../components
  # - source: github://alextrical/ESPHome-Vent-Axia-Sentinel-Kinetic/@latest
  #   components: [ vent_axia_sentinel_kinetic ]
  #   refresh: always

vent_axia_sentinel_kinetic:
  - id: vask
    uart_id: vask_uart
    line1:
      id: line_1
      # name: "Line 1"
      web_server:
        sorting_group_id: sorting_group_control
        sorting_weight: 10
      icon: "mdi:text-short"
    line2:
      id: line_2
      # name: "Line 2"
      web_server:
        sorting_group_id: sorting_group_control
        sorting_weight: 20
      icon: "mdi:text-short"
      on_value:
        then:
          - lambda: |-
              if (id(line_1).state.compare(0, 10, "Diagnostic") == 0) {
                  switch (std::stoi(id(line_1).state.substr(12, 2))) {
                      case 0:
                          id(fan_speed).publish_state(std::stoi(x.substr(0, 3)));
                          id(internal_pwm).publish_state(std::stoi(x.substr(4, 3)));
                          id(internal_rpm).publish_state(std::stoi(x.substr(10, 4)));
                          break;
                      case 1:
                          id(fan_speed).publish_state(std::stoi(x.substr(0, 3)));
                          id(external_pwm).publish_state(std::stoi(x.substr(4, 3)));
                          id(external_rpm).publish_state(std::stoi(x.substr(10, 4)));
                          break;
                      case 2:
                          id(internal_temp_sensor).publish_state(std::stoi(x.substr(1, 2)));
                          break;
                      case 3:
                          id(external_temp_sensor).publish_state(std::stoi(x.substr(1, 2)));
                          //ESP_LOGD("main", "The current version is %d", std::stoi(x.substr(1, 2)) );
                          break;
                      case 4:
                          id(internal_humidity_sensor).publish_state(std::stoi(x.substr(0, 2)));
                          id(internal_temp_sensor2).publish_state(std::stoi(x.substr(5, 2)));
                          id(internal_humidity_sensor_5min).publish_state(std::stoi(x.substr(10, 2)));
                          break;
                      case 19:
                          id(rail_24v).publish_state(std::stoi(x.substr(0, 1)));
                          break;
                      case 23:
                          id(filter_hours_remain).publish_state(std::stoi(x.substr(0, 5)));
                          //ESP_LOGD("main", "The current version is %d", std::stoi(x.substr(0, 5)) );
                          break;
                      default:
                          // Handle other cases
                          break;
                  }
              }

script:
  - id: enter_and_run_diagnostic
    mode: single
    then:
      - switch.turn_off: down_sw
      - switch.turn_off: set_sw
      - if:
          condition:
            lambda: 'return id(line_1).state.compare(0, 10, "Diagnostic") != 0;'
          then:
            - switch.turn_on: up_sw
            - switch.turn_on: main_sw
            - wait_until:
                condition:
                  lambda: 'return id(line_1).state.compare(0, 10, "Diagnostic") == 0;'
                timeout: 8s
            - switch.turn_off: up_sw
            - switch.turn_off: main_sw
      - while:
          condition:
            lambda: |-
              return true;
          then:
            - switch.turn_on: down_sw
            - wait_until:
                condition:
                  lambda: 'return std::stoi(id(line_1).state.substr(12, 2)) > 23;'
                timeout: 8s
            - switch.turn_off: down_sw
            - switch.turn_on: up_sw
            - wait_until:
                condition:
                  lambda: 'return std::stoi(id(line_1).state.substr(12, 2)) == 0;'
                timeout: 8s
            - switch.turn_off: up_sw
  - id: exit_diagnostic
    mode: single
    then:
      - switch.turn_on: up_sw #Scroll up until we see Diagnostic 0
      - switch.turn_off: down_sw
      - switch.turn_off: set_sw
      - switch.turn_off: main_sw
      - wait_until:
          condition:
            lambda: 'return std::stoi(id(line_1).state.substr(12, 2)) == 0;'
          timeout: 8s
      - switch.turn_off: up_sw
      - delay: 50ms
      - switch.turn_on: up_sw
      - wait_until:
          condition:
            lambda: 'return id(line_1).state.compare(0, 10, "Diagnostic") != 0;'
          timeout: 8s
      - switch.turn_off: up_sw

switch:
  - platform: vent_axia_sentinel_kinetic
    up:
      id: up_sw
      name: "Up"
      entity_category: config
      icon: "mdi:menu-up"
      web_server:
        sorting_group_id: sorting_group_control
        sorting_weight: 70
    down:
      id: down_sw
      name: "Down"
      entity_category: config
      icon: "mdi:menu-down"
      web_server:
        sorting_group_id: sorting_group_control
        sorting_weight: 80
    set:
      id: set_sw
      name: "Set"
      entity_category: config
      icon: "mdi:menu-right"
      web_server:
        sorting_group_id: sorting_group_control
        sorting_weight: 90
    main:
      id: main_sw
      name: "Main"
      entity_category: config
      icon: "mdi:fan"
      web_server:
        sorting_group_id: sorting_group_control
        sorting_weight: 100
  - platform: output
    id: diagnostic_sw
    name: "Diagnostic"
    output: generic_out
    icon: "mdi:stethoscope"
    on_turn_on:
      - script.execute: enter_and_run_diagnostic
    on_turn_off:
      - if:
          condition: #make sure script has been running, as this is triggered at boot and will cause lockup if run at boot
            script.is_running: enter_and_run_diagnostic
          then:
            - script.stop: enter_and_run_diagnostic
            - script.execute: exit_diagnostic

button:
  - platform: template
    name: "Up"
    on_press:
      - switch.turn_on: up_sw
      - delay: 50ms
      - switch.turn_off: up_sw
    web_server:
      sorting_group_id: sorting_group_control
      sorting_weight: 30
    icon: "mdi:menu-up-outline"
  - platform: template
    name: "Down"
    on_press:
      - switch.turn_on: down_sw
      - delay: 50ms
      - switch.turn_off: down_sw
    web_server:
      sorting_group_id: sorting_group_control
      sorting_weight: 40
    icon: "mdi:menu-down-outline"
  - platform: template
    name: "Set"
    on_press:
      - switch.turn_on: set_sw
      - delay: 50ms
      - switch.turn_off: set_sw
    web_server:
      sorting_group_id: sorting_group_control
      sorting_weight: 50
    icon: "mdi:menu-right-outline"
  - platform: template
    name: "Main"
    on_press:
      - switch.turn_on: main_sw
      - delay: 50ms
      - switch.turn_off: main_sw
    web_server:
      sorting_group_id: sorting_group_control
      sorting_weight: 60
    icon: "mdi:fan"

fan:
  - platform: speed
    name: "Fan Speed - WIP"
    output: pwm_output
    # on_state:
      # - do something
    # on_speed_set:
      # - do something
    icon: "mdi:fan"

output:
  - platform: esp8266_pwm
    pin: GPIO4
    frequency: 1000 Hz
    id: pwm_output
  - platform: gpio
    pin: GPIO2
    id: generic_out

sensor:
  - platform: template
    id: fan_speed
    name: "Fan Speed"
    accuracy_decimals: 0
    unit_of_measurement: "%"
    state_class: measurement
    update_interval: never
  - platform: template
    id: internal_temp_sensor
    name: "Internal Temperature"
    accuracy_decimals: 0
    unit_of_measurement: "°C"
    device_class: temperature
    state_class: measurement
    update_interval: never
    icon: "mdi:home-thermometer-outline"
  - platform: template
    id: internal_temp_sensor2
    name: "Internal Temperature 2"
    accuracy_decimals: 0
    unit_of_measurement: "°C"
    device_class: temperature
    state_class: measurement
    update_interval: never
    icon: "mdi:home-thermometer-outline"
  - platform: template
    id: external_temp_sensor
    name: "External Temperature"
    accuracy_decimals: 0
    unit_of_measurement: "°C"
    device_class: temperature
    state_class: measurement
    update_interval: never
    icon: "mdi:sun-thermometer-outline"
  - platform: template
    id: internal_humidity_sensor
    name: "Internal Humidity"
    accuracy_decimals: 0
    unit_of_measurement: "%"
    device_class: humidity
    state_class: measurement
    update_interval: never
    icon: "mdi:water-percent"
  - platform: template
    id: internal_humidity_sensor_5min
    name: "Internal Humidity 5Min"
    accuracy_decimals: 0
    unit_of_measurement: "%"
    device_class: humidity
    state_class: measurement
    update_interval: never
    icon: "mdi:water-percent"
  - platform: template
    id: internal_rpm
    name: "Internal Speed"
    accuracy_decimals: 0
    unit_of_measurement: "RPM"
    state_class: measurement
    update_interval: never
    icon: "mdi:fan-speed-1"
  - platform: template
    id: external_rpm
    name: "External Speed"
    accuracy_decimals: 0
    unit_of_measurement: "RPM"
    state_class: measurement
    update_interval: never
    icon: "mdi:fan-speed-2"
  - platform: template
    id: internal_pwm
    name: "Internal PWM"
    accuracy_decimals: 0
    unit_of_measurement: "%"
    state_class: measurement
    update_interval: never
    icon: "mdi:fan-speed-1"
  - platform: template
    id: external_pwm
    name: "External PWM"
    accuracy_decimals: 0
    unit_of_measurement: "%"
    state_class: measurement
    update_interval: never
    icon: "mdi:fan-speed-2"
  - platform: template
    id: filter_hours_remain
    name: "Remaining Filter Hours"
    accuracy_decimals: 0
    unit_of_measurement: "h"
    device_class: duration
    state_class: measurement
    update_interval: never
    icon: "mdi:clock-outline"

binary_sensor:
  - platform: template
    id: rail_24v
    name: "24V Rail"
    icon: "mdi:flash-triangle-outline"
